html,
body {
  background: black;
  font-family: 'Inter','Josefin Sans',sans-serif;
}

.Hero {
  position: relative;
  margin: 0 auto;
  top: 0px;
  width: 80%;
  height: 100vh;
  margin-bottom: 20px;
}


/* help me get home */
.title-section {
  display: flex;
  justify-content: center;
  margin-bottom: -5px;
}

.Hero h1 { 
  color: #fff;
  font-weight: 200;
}


/* Spencer's Macbook */
.item-section {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  text-align: center;
  /* background: green; */
}

#laptop {
  width: 260px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

@media only screen and (max-width: 768px) {
  #laptop {
    margin: 0px;
  }
}

.item-section button {
  padding: 7px 18px;

  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
  border: none;
  background: #E5EEFF;
  color: #1D54EC;
}


/* Contact Information */
.contact-info {
  margin-top: 60px;
}

.Hero h4 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}

.contact-grid {
  margin-bottom: 80px;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
}

.grid-owner {
  padding: 18px;
}

.grid-phone {
  padding: 18px;
  margin: 0 -1px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.grid-email {
  padding: 18px;
}

.contact-info p1 {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  display: block;
  text-align: left;
}
.contact-info p2 {
  margin-top: 4px;
  color: lightgray;
  font-size: 14px;
  font-weight: 300;
  display: block;
  text-align: left;
}


/* Get in Touch */
.Hero h2 {
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.contact-info button {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  bottom:  0em;
  width: 100%;
  padding: 1rem 0rem;

  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background: #1D54EC;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

