html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

/*NODE CANVAS*/
canvas {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

/*SPENCER MATEEGA*/
.hero {
  z-index: 1;
  padding: 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  pointer-events: none;
}
h1 {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 7px;
  line-height: 1.4em;
  text-align: center;
}

/*CONTACT*/
.contact {
  z-index: 1;
  padding: 0;
  position: absolute;
  bottom: 1em;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  transform-origin: 50% 50%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.contact.active {
  bottom: 0em;
}
.contact a {
  color: inherit;
  transition: 1.5s;
}
.contact a:hover {
  transition: 1.5s;
  color: red;
}
h2 {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-align: center;
  color: white;
}

/*SOCIALS*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.socialmedia {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: 0.8s;
}
.socialmedia.active {
  bottom: 2.5em;
  opacity: 1;
}
li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-size: 25px;
  color: white;
  transition: 1s;
}
li:hover {
  color: red;
  transition: 1s;
}

/*DESKTOP SITE*/
@media only screen and (min-width: 800px) {
  h1 {
    letter-spacing: 9px;
  }
}